{
  "presets": [
    ["@babel/preset-env", {
      "targets": "last 2 version",
      "debug": false,
      "modules": "commonjs"
    }]
  ],
  "plugins": ["add-module-exports"],
  "env": {
      "test": {
        "plugins": [
          ["istanbul", {
            "exclude": [
              "test/**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
