# osx
.DS_Store

# IDE
.project
.pydevproject

# build
dist
*.log
node_modules
bower_components
doc
package-lock.json

# examples
*.phar
*.lock
composer.json
php.ini
vendor

src/css/font/scss/_*.scss
