@charset "UTF-8";
@font-face {
  font-family: videojs-record;
  src: url("src/css/font/videojs-record.eot?") format("eot"); }

@font-face {
  font-family: videojs-record;
  src: url(data:application/font-woff;charset=utf-8;base64,BASE64_WOFF_FONT) format("woff"), url(data:application/x-font-ttf;charset=utf-8;base64,BASE64_TTF_FONT) format("truetype");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-play {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-play:before {
    content: ""; }

.vjs-icon-play-circle {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-play-circle:before {
    content: ""; }
