/*!
videojs-record Default Styles
Version GENERATED_AT_BUILD
*/

/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face{
	font-family: 'VideoJS-Record';
	src:url('font/videojs-record.eot?-6n8h49');
	src:url('font/videojs-record.eot?#iefix-6n8h49') format('embedded-opentype'),
		url('font/videojs-record.woff?-6n8h49') format('woff'),
		url('font/videojs-record.ttf?-6n8h49') format('truetype'),
		url('font/videojs-record.svg?-6n8h49#icomoon') format('svg');

	font-weight: normal;
	font-style: normal;
}

/* Record toggle
--------------------------------------------------------------------------------
*/
.vjs-record-button {
	font-family: VideoJS-Record;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;

	font-size: 25px;
  	cursor: pointer;
  	outline: none;

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.vjs-record-button.vjs-control {
	width: 1em;
	height: 1em;
	padding-left: 9px;
}

.vjs-record-button:focus,
.vjs-record-button:hover {
	text-shadow: 0em 0em 1em #ffffff;
}

.vjs-record-button:after {
	font-family: VideoJS-Record;
  	content: "\f052"; /* record icon */
}

.vjs-record-button.vjs-record-stop:after {
	font-family: VideoJS-Record;
  	content: "\f052"; /* record icon */

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.vjs-record-button.vjs-record-start:after {
	font-family: VideoJS-Record;
  	content: "\f053"; /* stop icon */
}

/* Device Button (device button at start)
--------------------------------------------------------------------------------
*/
.vjs-device-button.vjs-control {
	/* Center it horizontally */
	left: 50%;
	margin-left: -2.1em;
	/* Center it vertically */
	top: 50%;
	margin-top: -1.4000000000000001em;

	font-size: 3em;
	font-family: VideoJS-Record;
	display: block;
	z-index: 2;
	position: absolute;
	width: 4em;
	height: 2.6em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1;

	/* Need a slightly gray bg so it can be seen on black backgrounds */
	/* background-color-with-alpha */
	background-color: #07141e;
	background-color: rgba(7, 20, 30, 0.7);
	border: 0.1em solid #3b4249;
	/* border-radius */
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	border-radius: 0.8em;
	/* box-shadow */
	-webkit-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	-moz-box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
	/* transition */
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.vjs-device-button:after {
	content: "\e600";

	line-height: 2.6em;
	text-shadow: 0.05em 0.05em 0.1em #000;
	text-align: center /* Needed for IE8 */;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.vjs-device-button:hover,
.vjs-device-button:focus {
	outline: 0;
	border-color: #fff;
	/* IE8 needs a non-glow hover state */
	background-color: #505050;
	background-color: rgba(50, 50, 50, 0.75);
	/* box-shadow */
	-webkit-box-shadow: 0 0 3em #ffffff;
	-moz-box-shadow: 0 0 3em #ffffff;
	box-shadow: 0 0 3em #ffffff;
	/* transition */
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
  	transition: all 0s;
}

.vjs-error .vjs-device-button {
 	display: none;
}


/* Recording indicator
--------------------------------------------------------------------------------
*/

.vjs-record-indicator {
	background-color: red;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;

	display: none;
	z-index: 2;
	opacity: 1;

	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.vjs-record-indicator.vjs-control {
	width: 18px;
	height: 18px;
	position: absolute;

	/* top-right */
	top: 12px;
	right: 14px;
}

