/*!
Default styles for videojs-record vGENERATED_AT_BUILD
*/

/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face
{
    font-family: 'VideoJS-Record';
    font-weight: normal;
    font-style: normal;

    src: url('font/videojs-record.eot?-6n8h49');
    src: url('font/videojs-record.eot?#iefix-6n8h49') format('embedded-opentype'),
    url('font/videojs-record.woff?-6n8h49') format('woff'),
    url('font/videojs-record.ttf?-6n8h49') format('truetype'),
    url('font/videojs-record.svg?-6n8h49#icomoon') format('svg');
}

/* Record Toggle (start/stop recording button in controlbar)
--------------------------------------------------------------------------------
*/
.vjs-record-button
{
    font-family: VideoJS-Record;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1.2;

    cursor: pointer;
    text-transform: none;

    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vjs-record-button.vjs-control
{
    width: 1em;
    height: 1em;
    padding-left: 9px;
}

.vjs-record-button:focus,
.vjs-record-button:hover
{
    text-shadow: 0 0 1em #fff;
}

.vjs-record-button:after
{
    font-family: VideoJS-Record;

    content: '\f052'; /* record icon */
}

.vjs-record-button.vjs-record-stop:after
{
    font-family: VideoJS-Record;

    content: '\f052'; /* record icon */

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.vjs-record-button.vjs-record-start:after
{
    font-family: VideoJS-Record;

    content: '\f053'; /* stop icon */
}

/* Camera Toggle (create/retry snapshot button in controlbar)
--------------------------------------------------------------------------------
*/
.vjs-camera-button
{
    font-family: VideoJS-Record;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1.2;

    cursor: pointer;
    text-transform: none;

    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vjs-camera-button.vjs-control
{
    width: 1em;
    height: 1em;
    padding-top: 2px;
    padding-left: 9px;
}

.vjs-camera-button:focus,
.vjs-camera-button:hover
{
    text-shadow: 0 0 1em #fff;
}

.vjs-camera-button:after
{
    font-family: VideoJS-Record;

    content: '\e601'; /* camera icon */
}

.vjs-camera-button.vjs-record-stop:after
{
    font-family: VideoJS-Record;

    content: '\e601'; /* camera icon */

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.vjs-camera-button.vjs-record-start:after
{
    font-family: VideoJS-Record;
    font-size: 16px;

    content: '\e602'; /* retry icon */
}

/* Device Button (device button at start)
--------------------------------------------------------------------------------
*/
.vjs-device-button.vjs-control
{
    font-family: VideoJS-Record;
    font-size: 3em;

    position: absolute;
    z-index: 2;
    /* Center it vertically */
    top: 50%;
    /* Center it horizontally */
    left: 50%;

    display: block;

    width: 4em;
    height: 2.6em;
    margin-top: -1.4000000000000001em;
    margin-left: -2.1em;

    cursor: pointer;
    /* transition */
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
         -o-transition: all .4s;
            transition: all .4s;
    text-align: center;
    vertical-align: middle;

    opacity: 1;
    border: .1em solid #3b4249;
    /* border-radius */
    -webkit-border-radius: .8em;
       -moz-border-radius: .8em;
            border-radius: .8em;
    /* Need a slightly gray bg so it can be seen on black backgrounds */
    /* background-color-with-alpha */
    background-color: #07141e;
    background-color: rgba(7, 20, 30, .7);
    /* box-shadow */
    -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, .25);
       -moz-box-shadow: 0 0 1em rgba(255, 255, 255, .25);
            box-shadow: 0 0 1em rgba(255, 255, 255, .25);
}

.vjs-device-button:after
{
    line-height: 2.6em;

    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    content: '\e600';
    text-align: center /* Needed for IE8 */;

    text-shadow: .05em .05em .1em #000;
}

.vjs-device-button:hover,
.vjs-device-button:focus
{
    /* transition */
    -webkit-transition: all 0s;
       -moz-transition: all 0s;
         -o-transition: all 0s;
            transition: all 0s;

    border-color: #fff;
    outline: 0;
    /* IE8 needs a non-glow hover state */
    background-color: #505050;
    background-color: rgba(50, 50, 50, .75);
    /* box-shadow */
    -webkit-box-shadow: 0 0 3em #fff;
       -moz-box-shadow: 0 0 3em #fff;
            box-shadow: 0 0 3em #fff;
}

.vjs-error .vjs-device-button
{
    display: none;
}

/* Recording Indicator (dot in top-right corner visible when recording)
--------------------------------------------------------------------------------
*/
.vjs-record-indicator
{
    z-index: 2;

    opacity: 1;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    background-color: red;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.vjs-record-indicator.vjs-control
{
    position: absolute;
    /* top-right */
    top: 12px;
    right: 14px;

    width: 18px;
    height: 18px;
}
