/*!
Default styles for videojs-record vGENERATED_AT_BUILD
*/
/* Icons
--------------------------------------------------------------------------------
The control icons are from a custom font. Font icons allow for easy scaling and
coloring of icons.
*/
@font-face {
  font-family: videojs-record;
  src: url("font/videojs-record.eot?#iefix") format("eot"); }

@font-face {
  font-family: videojs-record;
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAATsAAsAAAAACCAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIwleU9TLzIAAAFEAAAAPAAAAFY6l0dJY21hcAAAAYAAAABgAAABqPI5XzVnbHlmAAAB4AAAAPkAAAGcP+Ejk2hlYWQAAALcAAAALgAAADYKNmd3aGhlYQAAAwwAAAAYAAAAJABeADdobXR4AAADJAAAAA4AAAAYAPAAAGxvY2EAAAM0AAAADgAAAA4BeADsbWF4cAAAA0QAAAAfAAAAIAETADxuYW1lAAADZAAAATYAAAJemUJQLnBvc3QAAAScAAAATwAAAG+geVPweJxjYGRgYOBiMGCwY2DKSSzJY+BzcfMJYZBiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCAClZBUgAeJxjYGTQYJzAwMrAwCDHoAgk2aC0OAMTAw8DkGBlZsAKAtJcUxgcPjJ+ZGUwAHJZwCQDAyOIAADDQQVfeJztkbENxEAIBAcfOHh9JS+X4tiR+8+vgjMLX4aRZhErRLAAAYzkSBzsxlBd6Vr5g0/5zq92XP6MtVJNmrOXbrnrumg7b31Lz/8USqup/LYG9dHoD9MbJTqjIR5tTxGxeJxFUNtOwzAMtRvHiaKqApSWPECFmqkbsBWptz0g9v+fhdMUlkTH9rF8yYEC0rnAB0T4ArjGYzSx41f0zTcuAy6Tb8ZVkE09jesPzr3x3PXirGNTn5hK4kJORUyatWCVooIKeT2JCeKhIaW1IoOZeEglNoFMx32HC5SyQVehb3G84Txg0E5r5xKcdysA/zUHuUpqpjqWIRzCH3+CASS4LuZ5GVv0FXbylXjv65xipZhZEVlrBXrrnN0YyZDNNKTu225nsPAC79Iz6TH3HS93nbIun3g0Mma+YR75pHKvTZ63BEwSKmESBJWy6jELkmVq95wAwC/J8hfGAAAAeJxjYGRgYADiLUbaYfH8Nl8ZuBkMgCIMV0un8iHTDLoMekCSg4EJxAEA7YIHgwAAeJxjYGRgYDBgYICTugyMDKiADQAONQCWeJxjYAACA0wMAApoAPEAAAAAAAAAQgBcAGgAkADOAAB4nGNgZGBgYGMwYGBmAAEmIOYCQgaG/2A+AwAN4QFQAHicfZA/asMwGMWf8680hlIo7ZRBUOhSYicZQ+cEOmbI7tiyY2NbRlYCuUEP0hP0EB17kJ6iL6qWZLAE0u+9732fQADu8Q0P5+Xhzp7n1cMN1T/3SY+OB+Rnx0P4mDse0X9zPMYr3h37eMCBE7zBLZ0JPhz3mP903Kf/5XhA/nE8xBN+HY8w8eB4jK03cezjxdPHPJGqaKdaxkonG5kdyujKvFRbqdtc1WIezC4La1lLHRmZiN1JtMdsYUwqUq0qsVK1kWWpRKNVIWMT7I1plmGYOj+IVYUjciSQUCjQYgpNjqk03Q0541+UiKi7kl21LVnTzalrCP5/gFlnx5pc264IhnfCrh1OPFv2ZVjQNUipU2YUKtLKTj+nS25Fp7G1ws41fHNvuxosEXKnV/nAvl79AXudcPYAAHicY2BiwA/YGJkYmRlZGFkZ2RjZGbhTUssyk1N1C1KLcnmKUpPzi1J0i0sSi0q44Zz8Au6CjPySfN2i1JKiSh4IOzkxN7UokYEBAAaMF00A) format("woff"), url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQiCMJXkAAAE4AAAAVE9TLzI6l0dJAAABjAAAAFZjbWFw8jlfNQAAAfwAAAGoZ2x5Zj/hI5MAAAO0AAABnGhlYWQKNmd3AAAA4AAAADZoaGVhAF4ANwAAALwAAAAkaG10eADwAAAAAAHkAAAAGGxvY2EBeADsAAADpAAAAA5tYXhwARMAPAAAARgAAAAgbmFtZZlCUC4AAAVQAAACXnBvc3SgeVPwAAAHsAAAAG8AAQAAADAAAAAAADAAAAAAAC0AAQAAAAAAAAAAAAAAAAAAAAYAAQAAAAEAALQyOdJfDzz1AAsAMAAAAADVdZUOAAAAANV1lQ4AAAAAAC0ALgAAAAgAAgAAAAAAAAABAAAABgAwAAMAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKADAAPgACbGF0bgAOREZMVAAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAEAKAGQAAUAAAAeACEAAAAGAB4AIQAAABcAAgAMAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAQPEB8QUAMAAAAAQAMAAAAAAAAQAAAAAAAAAAAAAAMAAAADAAAAAwAAAAMAAAADAAAAAAAAUAAAADAAAALAAAAAQAAAFcAAEAAAAAAFYAAwABAAAALAADAAoAAAFcAAQAKgAAAAQABAABAADxBf//AADxAf//AAAAAQAEAAAAAQACAAMABAAFAAABBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAABMAAAAAAAAAAUAAPEBAADxAQAAAAEAAPECAADxAgAAAAIAAPEDAADxAwAAAAMAAPEEAADxBAAAAAQAAPEFAADxBQAAAAUAAAAAAEIAXABoAJAAzgAAAAIAAAAAAC0AKgAjAC8AADcjJyMHIyIGHQEUFjsBNS4BNTMUFjI2NTMUBgcVMzI2PQE0JgcUBiImPQE0NjIWFSgGBAwEBgICAgIOBAYEBQYFBAYEDgICAg4CBAICBAImBAQCAhgCAgQBBwQDBQUDBAcBBAICGAICEAICAgIIAgICAgAAAAEAAAAAAC0ALQAMAAA3Ig4BFB4BMj4BNC4BGAUKBQUKCgoFBQosBQoKCgUFCgoKBQAAAAABAAAAAAAkACQAAwAANzMVIwwYGCQYAAABAAAAAAAoAC4AGAAANzUHFzUyHgEUDgEiLgE1IxQeATI+ATQuARgKCgMGAwMGBgYDBAQICAgEBAgmCAoKCAMGBgYDAwYDBAgEBAgICAQAAAMAAAAAAC0ALAAIABwAKQAANxQWMjY0JiIGNQcjIgYdARQWOwEyNj0BNCYrAScHIi4BND4BMh4BFA4BEgMGAwMGAwQGAgICAiACAgICBgQGAwQDAwQGBAMDBBgDAwMGAwMRBAICGAICAgIYAgIEHgMEBgQDAwQGBAMAAAAAABAAxgABAAAAAAABAA4AAAABAAAAAAACAAcADgABAAAAAAADAA4AFQABAAAAAAAEAA4AIwABAAAAAAAFAAsAMQABAAAAAAAGAA4APAABAAAAAAAKACsASgABAAAAAAALABMAdQADAAEECQABABwAiAADAAEECQACAA4ApAADAAEECQADABwAsgADAAEECQAEABwAzgADAAEECQAFABYA6gADAAEECQAGABwBAAADAAEECQAKAFYBHAADAAEECQALACYBcnZpZGVvanMtcmVjb3JkUmVndWxhcnZpZGVvanMtcmVjb3JkdmlkZW9qcy1yZWNvcmRWZXJzaW9uIDEuMHZpZGVvanMtcmVjb3JkR2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20AdgBpAGQAZQBvAGoAcwAtAHIAZQBjAG8AcgBkAFIAZQBnAHUAbABhAHIAdgBpAGQAZQBvAGoAcwAtAHIAZQBjAG8AcgBkAHYAaQBkAGUAbwBqAHMALQByAGUAYwBvAHIAZABWAGUAcgBzAGkAbwBuACAAMQAuADAAdgBpAGQAZQBvAGoAcwAtAHIAZQBjAG8AcgBkAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgECAQMBBAEFAQYBBwALZGV2aWNlLXBlcm0McmVjb3JkLXN0YXJ0C3JlY29yZC1zdG9wC3Bob3RvLXJldHJ5DHBob3RvLWNhbWVyYQAAAA==) format("truetype");
  font-weight: normal;
  font-style: normal; }

.vjs-icon-device-perm {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal;
  outline: 0; }
  .vjs-icon-device-perm:before {
    content: '\f101'; }

.vjs-icon-record-start {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal;
  outline: 0; }
  .vjs-icon-record-start:before {
    content: '\f102'; }

.vjs-icon-record-stop {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal;
  outline: 0; }
  .vjs-icon-record-stop:before {
    content: '\f103'; }

.vjs-icon-photo-retry {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal;
  outline: 0; }
  .vjs-icon-photo-retry:before {
    content: '\f104'; }

.vjs-icon-photo-camera {
  font-family: videojs-record;
  font-weight: normal;
  font-style: normal;
  outline: 0; }
  .vjs-icon-photo-camera:before {
    content: '\f105'; }

/* Area containing the recorder elements.
--------------------------------------------------------------------------------
*/
.vjs-record {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: default;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%; }

/* Device Button (large centered button at startup)
--------------------------------------------------------------------------------
*/
.vjs-device-button.vjs-control {
  font-size: 3em;
  position: absolute;
  z-index: 2;
  /* Center it vertically */
  top: 50%;
  /* Center it horizontally */
  left: 50%;
  width: 4em;
  height: 2.8em;
  margin-top: -1.8000000000000001em;
  margin-left: -2.1em;
  display: block;
  cursor: pointer;
  opacity: 1;
  /* transition */
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  text-align: center;
  vertical-align: middle;
  /* border-radius */
  -webkit-border-radius: .8em;
  -moz-border-radius: .8em;
  border-radius: .8em;
  /* Need a slightly gray bg so it can be seen on black backgrounds */
  /* background-color-with-alpha */
  background-color: #07141e;
  background-color: rgba(7, 20, 30, 0.7);
  /* box-shadow */
  -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.25); }

.vjs-error .vjs-device-button {
  display: none; }

.vjs-device-button.vjs-control.vjs-icon-device-perm:before {
  font-size: 2.7em; }

/* Record Toggle (start/stop recording button in controlbar)
--------------------------------------------------------------------------------
*/
.vjs-record-button.vjs-control {
  cursor: pointer; }

.vjs-error .vjs-record-button {
  display: none; }

.vjs-record-button.vjs-control.vjs-icon-record-start:before {
  font-size: 1.4em;
  line-height: 2.2em; }

.vjs-record-button.vjs-control.vjs-icon-record-stop:before {
  font-size: 2.2em;
  line-height: 1.4em; }

.vjs-play-control.vjs-control {
  cursor: pointer; }

/* Camera Toggle (snapshot try/retry)
--------------------------------------------------------------------------------
*/
.vjs-camera-button.vjs-control {
  cursor: pointer; }

.vjs-error .vjs-camera-button {
  display: none; }

.vjs-camera-button.vjs-control.vjs-icon-photo-camera:before {
  font-size: 1.4em;
  line-height: 2.2em; }

.vjs-camera-button.vjs-control.vjs-icon-photo-retry:before {
  font-size: 2.2em;
  line-height: 1.4em; }

/* Recording Indicator (dot in top-right corner visible when recording)
--------------------------------------------------------------------------------
*/
.vjs-record {
  overflow: hidden; }

.video-js .vjs-control.vjs-record-indicator.vjs-hidden {
  display: block !important;
  opacity: 0;
  transform: translateX(1em) rotateX(-90deg) scale(0.9);
  transition: all .5s, transform .5s .25s; }

.video-js .vjs-control.vjs-record-indicator {
  width: .8em;
  height: .8em;
  background-color: #ff625e;
  border-radius: 50%;
  right: 2.5ex;
  top: 2ex;
  position: absolute;
  opacity: 1;
  transform: rotateX(0) scale(1.3);
  transition: all .5s, transform .2s .1s; }

.video-js .vjs-control.vjs-record-indicator:before {
  content: "REC";
  color: white;
  position: absolute;
  left: -2.7em;
  font-family: "Helvetica", sans-serif;
  animation-name: pulsetext;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  top: -0.1em;
  font-size: 0.8em;
  opacity: 1;
  transition: opacity .5s .2s; }

.video-js .vjs-control.vjs-record-indicator:after {
  content: "";
  display: block;
  height: calc(.8em - 4px);
  width: calc(.8em - 4px);
  border: 2px solid #ff625e;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transform-origin: center;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .25s; }

@keyframes pulsetext {
  from {
    opacity: .75; }
  25% {
    opacity: .5; }
  50% {
    opacity: .75; }
  75% {
    opacity: .5; }
  to {
    opacity: .75; } }

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1.6); }
  50% {
    opacity: .5;
    transform: scale(2.5); }
  to {
    opacity: 0;
    transform: scale(3.5); } }
