/* Navigation - LNB */
.lnb {
    bottom: 0px;
}

.lnb h3 {
    color: #008aff;
}

.readme p a {
    color: #008aff;
}

code {
    color: #008aff;
}

.main {
    margin-bottom: 0px;
}

.main section header {
    padding-top: 0;
}
